services:
  kokomemo-fapi:
    restart: always
    build:
      tags:
        - "kokoseij:kokomemo-fapi"
      dockerfile_inline: |
        FROM python:3

        COPY . /app
        WORKDIR /app

        RUN python -m pip install -r requirements.txt

        ENTRYPOINT ["gunicorn", "-w", "4", "-k", "uvicorn.workers.UvicornWorker", "-b", "0.0.0.0:8000", "app:app"]
    environment:
      MONGO_URL: "mongodb://mongouser:mongopw@mongo:27017/"
    env_file: .env
    ports:
      - "8000:8000"

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongouser
      MONGO_INITDB_ROOT_PASSWORD: mongopw
